<% @zombie_all.each do |x| %>
<form class="" action="index.html" method="post">
  <li><%= x.name %> // <%= link_to "delete", people_path(person_id: x.id), method: :delete, class:"pp", remote: true %></li>
</form>
<% end %>



<br>
Name of zombie
<%= form_for @zombie, remote: true do |x| %>
<%= x.text_field :name, class: "jj" %>
<%= submit_tag "save" %>
<% end %>

<%= @zombie%>

<div class="hi">

</div>
